@model IEnumerable<Lighter_SocialMediaService.Models.Post>

@{
    ViewData["Title"] = "Najpopularniejsze posty";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="posts-container">
    @foreach (var post in Model)
    {
        <div class="post-box">
            <div class="post-header">
                <span class="post-author">@post.Author</span>
                <span class="post-date">@post.CreatedAt.ToString("g")</span>
            </div>
            <div class="post-content">
                <p>@post.Content</p>
            </div>
            <div class="post-footer">
                <span class="post-likes">❤️ @post.LikesCount</span>
                <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-sm custom-details-button">Przejdź do posta</a>

            </div>
        </div>
    }
</div>

<!-- Przycisk plusa -->
<a href="/Posts/Create" class="floating-button">
    <span>+</span>
</a>
