@model IEnumerable<Lighter_SocialMediaService.Models.Post>

@{
    ViewData["Title"] = "Popular Posts";
}

<h1>Popular Posts</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Likes</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Author</td>
                <td>@post.Content</td>
                <td>@post.LikesCount</td> <!-- Użyj LikesCount tutaj -->
                <td>@post.CreatedAt.ToString("g")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
